/* Default: fixed at the bottom (for mobile devices) */
.navbar {
  position: fixed !important;
  bottom: 0 !important;
  z-index: 10;
  width: 100%;
  height: 60px;
}

/* Media query for larger screens: fixed at the top */
@media (min-width: 768px) {
  .navbar {
    top: 0 !important;
    bottom: auto; /* Remove bottom fixation */
    z-index: 10;
  }
}

.collapse{
  background-color: var(--primary-500) !important;
}

.link{
  text-decoration: none;
}

.nav-link{
  color: rgb(255, 255, 255) !important;
}

.nav-link.active{
  background-color: rgb(255, 255, 255); 
  margin: 2px;
  color: rgb(26, 26, 26) !important;
  border-radius: 10px;
}